* {
   box-sizing: border-box;

   --theme-color1: #edf2f4;
   --theme-color2: #2b2d42;
   --theme-color3: #8d99ae;
}

body {
   font-family: "Roboto", sans-serif;
   background-color: var(--theme-color3);
}

/* Header Styling */

header {
   height: 10rem;
   background-color: var(--theme-color2);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 3rem;
   font-weight: 700;
   color: var(--theme-color1);
   letter-spacing: 0.3rem;
}

/* Main styling */

main {
   width: 70%;
   margin: 2rem auto;
}

/* Book display styling */

.books-display {
   display: flex;
   flex-direction: column;
   gap: 1.6rem;
   margin-bottom: 2rem;
}

.books-display-heading {
   font-size: 2rem;
}

.books-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
   gap: 1rem;
}

.book-card {
   background-color: var(--theme-color1);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 1.5rem;
   border-radius: 0.3rem;
   height: 300px;
}

.book-info {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.book-title {
   font-size: 1.5rem;
}

.book-card-controls {
   display: flex;
   justify-content: space-between;
}


/* Add new book modal styling */

.form-modal {
   display: block;
   position: fixed;
   background-color: rgba(0, 0, 0, 0.4);
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   overflow: auto;
   z-index: 1;
}

.add-book-form {
    color: var(--theme-color1);
    background-color: var(--theme-color2);
    width: 30%;
    min-height: 300px;
    margin: auto;
    margin-top: 100px;
}
